<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audience</key>
	<string>api_audience</string>
	<key>realm</key>
	<string>connection name</string>
	<key>clientId</key>
	<string>client_id</string>
	<key>domain</key>
	<string>xxx.auth0.com</string>
</dict>
</plist>
