<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audience</key>
	<string>API_AUDIENCE</string>
	<key>realm</key>
	<string>AUTH0_REALM_CONNECTION</string>
	<key>clientId</key>
	<string>CLIENT_ID</string>
	<key>domain</key>
	<string>AUTH0_DOMAIN</string>
</dict>
</plist>
