<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>audience</key>
	<string>urn:test:api</string>
	<key>realm</key>
	<string>AMC-DB</string>
	<key>clientId</key>
	<string>zb3gDWHD6Q40cTiVOokEEVy6u5oYHIED</string>
	<key>domain</key>
	<string>amc-test.auth0.com</string>
</dict>
</plist>
